body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bpm-adjust {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.bpm-adjust button {
    font-size: 1.5em;
    padding: 5px 10px;
}

#bpm-input {
    width: 60px;
    text-align: center;
    font-size: 1.2em;
}

#start-button, #back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
}

#touch-area {
    width: 90%;
    max-width: 400px;
    height: 250px;
    font-size: 1.5em;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    user-select: none; /* Prevents text from being selected */
}


#touch-area:hover {
    background-color: #0056b3;
}
